.page {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 6rem;
    padding: 0 2.5rem 1rem;
}

.title-container {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.member-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.back-arrow {
    height: 2.5rem;
    width: 2.5rem;
}

.back-arrow-icon {
    height: 100%;
    width: 100%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3rem));
    color: transparent;
    height: 5rem;
    width: auto;
}