.page {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 8rem;
    padding: 0 2.5rem 1rem;
}

.title-container {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.member-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}