.main {
  display: flex;
  min-height: 100vh;
  background-image: url('/photos/landing_page_bg.jpg');
  background-size: cover;
  background-size: 100%;
}

.main h1 {
  position: absolute;
  top: 20%;
  left: 2.5rem;
  font-size: 4rem;
  max-width: 38rem;
  color: white;
}