/* ANIMATIONS */
@keyframes loggingInHeroAnimation {
  from{transform: translateX(0);}
  to{transform: translateX(calc(100vw/7 * 3));}
}

@keyframes signingUpHeroAnimation {
  from{transform: translateX(calc(100vw/7 * 3));}
  to{transform: translateX(0);}
}

.main {
  display: flex;
  min-height: 100vh;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url('/photos/briefcase_bg_1.jpg');
  background-size: cover;
  background-position: 70% 100%;
  flex: 4;
  color: white;
  padding: 2rem;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.hero.logging-in {
  transform: translateX(calc(100vw/7 * 3));
  animation: loggingInHeroAnimation .5s ease;
}

.hero.signing-up {
  transform: translateX(0);
  animation: signingUpHeroAnimation .5s ease;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  position: absolute;
  width: calc(100% - 4rem);
  /* background-color: green; */
}

.hero-text h1 {
  align-self: center;
  font-size: 4rem;
}

.hero-text h3 {
  font-size: 2rem;
  max-width: 30rem;
}

.switch-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.switch-options p {
  font-size: 1.2rem;
  pointer-events: none;
  user-select: none;
}

.switch-options-btn {
  background-color: transparent;
  padding: 1rem 3rem;
  border: 2px solid white;
  border-radius: .5rem;
  color: white;
  font-size: 1.2rem;
  transition: background-color .25s ease, color .25s ease;
}

.switch-options-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--color-primary);
}

.auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  padding-top: 2rem;
  background-color: var(--color-secondary);
}

.auth-section h2 {
  /* color: var(--color-primary); */
}

.auth-section a {
  font-size: .9rem;
}

.divider {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.divider hr {
  height: 1px;
  width: 8rem;
  background-color: gray;
  border: none;
}

.divider p {
  margin: 0 1rem;
}

.oauth-options-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  list-style: none;
  padding: 0;
}

.oauth-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  font-size: 1.1rem;
  padding: .5rem;
}

.oauth-option:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
}

.oauth-option:active {
  transform: scale(.99, .99);
}

.logo {
  height: 3rem;
  width: auto;
}

.no-animate {
  animation: none !important;
}