.body {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    position: fixed;
    padding: 1rem;
    height: 20rem;
    width: 35rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.body.visible {
    display: flex;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.overlay.visible {
    display: block;
}

.notes-form {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 80%;
}
.notes-form label {
    display: flex;
    font-size: 1.2rem;
}

.notes-form input {
    height: 1.7rem;
}

.notes-form textarea {
    resize: none;
}

.notes-form button {
    border: 2px solid var(--color-secondary);
    border-radius: .5rem;
    background-color: transparent;
    color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: .5rem;
    padding: .5rem 0;
    transition: background-color .25s ease, color .25s ease;
}

.notes-form button:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.notes-form input, .notes-form textarea {
    border-radius: .5rem;
}

.title-label {
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.title-label input {
    flex: 1;
}

.details-label {
    flex-direction: column;
}

.close-window-icon {
    position: absolute;
    top: 2%;
    right: 1%;
    height: 1.5rem;
    width: auto;
    color: var(--color-secondary);
    border-radius: .5rem;
    transition: background-color .25s ease, color .25s ease;
}

.close-window-icon:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: none;
}