.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 1rem 2.5rem;
    background-color: var(--color-primary);
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08),
                0 1px 2px rgba(0, 0, 0, 0.05);
}

.nav-options-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    column-gap: .625rem;
}

.nav-option {
    padding: .99rem .625rem;
    background-color: transparent;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: .625rem;
    font-size: .9rem;
    font-weight: bolder;
    transition: color .25s ease, background-color .3s ease;
}

.nav-option:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.organization-dropdown {
    display: flex;
    align-items: center;
    position: relative;
    column-gap: .5rem;
    padding: .4rem;
}

.organization-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 2.2rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
}

.org-list {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    top: -4%;
    left: -1.5%;
    width: 103%;
    border-radius: .625rem;
    /* border: 2px solid black; */
    background-color: var(--color-secondary);
    color: black;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15),
                0 2px 8px rgba(0, 0, 0, 0.1);
}

.org-list.visible {
    display: block;
}

.org-option-card {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .5rem;
}

.add-org-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: .5rem;
    padding: .5rem;
    border-top: 2px solid gray;
    border-radius: 0 0 .625rem .625rem;
}

.org-option-card:hover,
.add-org-btn:hover {
    background-color: lightgray;
}

.add-org-window {
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    padding: 3rem;
}

.plus-sign {
    font-size: 1.3rem;
}

.choice-arrow {
    height: 1.5rem;
    width: auto;
}

.pfp-wrapper {
    height: 3.5rem;
    width: auto;
    border-radius: 2rem;
    background-color: gray;
}

.pfp {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
}

.pfp-wrapper:hover {
    cursor: pointer;
    transform: scale(1.02, 1.02);
}

