.body {
    display: none;
    position: absolute;
    right: 0;
    padding: .5rem 0;
    border-radius: .5rem;
    width: 10rem;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15),
                0 2px 8px rgba(0, 0, 0, 0.1);
}

.body.visible {
    display: block;
}

.options-list {
    list-style: none;
    padding: 0;
}

.options-list li {
    padding: .5rem;
}

.options-list li:hover {
    cursor: pointer;
    background-color: lightgrey;
}