.page {
    display: flex;
    flex-direction: column;
    row-gap: 3.125rem;
    margin-top: 8rem;
    padding-left: 2.5rem;
}

.page section {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.page a {
    font-weight: bolder;
    width: fit-content;
}

.page a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card-list {
    display: flex;
    column-gap: 1rem;
    list-style: none;
    padding: 0;
}

.notes-header-container {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.add-note-btn {
    background-color: black;
    color: var(--color-secondary);
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
}

.add-note-btn:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}

.add-note-btn:active {
    transform: scale(.98, .98);
}

.bottom-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.bottom-buttons-container button {
    background-color: black;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: .675rem;
    font-size: 1rem;
    font-weight: bolder;
    padding: 1rem;
}

.bottom-buttons-container button:hover {
    cursor: pointer;
    transform: scale(1.02, 1.02);
}

.bottom-buttons-container button:active {
    transform: scale(.98, .98);
}