.body {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem;
    border: 1px solid gray;
}

.body button {
    border: none;
    font-size: 1rem;
    margin-top: .3rem;
    background-color: transparent;
}

.body button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pfp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
}