.page {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
}

.page a {
    font-size: .8rem;
}

.page a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 25rem;
    background-color: var(--color-secondary);
    padding: 2rem;
    border-radius: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.login-form input,
.login-btn {
    height: 1.8rem;
}

.password-wrapper {
    display: flex;
    flex-direction: column;
}
